
ion-menu-button {
  color: var(--ion-color-primary);
}
ion-item-group > ion-item-divider{
	background-color:#dbdbdb;
	color:black;
	font-weight:bolder;
}
ion-item-group > ion-item{
	padding:10px;
	--padding-start:0px;
	--padding-end:0px;
	--inner-padding-end: 0px
}
ion-text{
	margin-top:12px;
}
ion-input{
	padding: 5px 10px !important;
}
ion-button{
	--padding:20px;
	width: -webkit-fill-available;
    height: unset;
	--padding-top: 10px;
    --padding-bottom: 10px;
}
.native-input.sc-ion-input-md, ion-input,ion-textarea{
    margin-top: 10px;
    border: 1px solid #b1b1b1;
    padding: 10px;
    border-radius: 5px;
	}