<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
	<ion-toolbar>
	<ion-title size="large">{{ folder }}</ion-title>
	</ion-toolbar>
	</ion-header>

	<div id="container">
		<ion-toolbar>
		<ion-buttons slot="end">
		<ion-button  fill="solid"  [disabled]="!selected.length">
		<ion-icon slot="start" name="trash"></ion-icon>
		Eliminar
		</ion-button>
		<ion-button  fill="solid" (click)="atender(selected[0])" [disabled]="!selected.length">
		<ion-icon slot="start" name="create"></ion-icon>
		Atender
		</ion-button>
		</ion-buttons>
		</ion-toolbar>
		<ngx-datatable 
			class="bootstrap fullscreen"
			[limit]="8" 
			[rows]="rows"
			[columnMode]="columnMode"
			[headerHeight]="50"
			[footerHeight]="0"
			[rowHeight]="50"
			[scrollbarV]="true"
			[scrollbarH]="true"
			[selectionType]="selectionType"
			[selected]="selected"
			(activate)="onActivate($event)"
			(select)="onSelect($event)"
			>
			<ngx-datatable-column name="Id" [ngStyle]="{textAlign:'center'}" [width]="60"></ngx-datatable-column>
			<ngx-datatable-column name="Denunciado" prop="apenombresdenunciado" [width]="200"></ngx-datatable-column>
			<ngx-datatable-column name="Descripcion" [width]="300"></ngx-datatable-column>
			<ngx-datatable-column name="Fecha Registro" [width]="300" prop="created_at"></ngx-datatable-column>
		</ngx-datatable>
	</div>
	<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-title>Atender Denuncia</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content class="ion-padding">
			
				<ion-item>
					<ion-label position="stacked">Denunciado:</ion-label>
					<ion-text color="primary">{{o.apenombresdenunciado}}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Descripción:</ion-label>
					<ion-text color="primary">{{o.descripcion}}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Fecha Registro:</ion-label>
					<ion-text color="primary">{{o.created_at}}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Documentaciòn:</ion-label>
					<a color="success" target="_BLANK" [href]="'https://web.regionancash.gob.pe/fs/temp/'+o.documentacion">{{o.documentacion}}</a>
				</ion-item>
				<ion-item>
					<ion-label position="stacked">Respuesta:</ion-label>
					<ion-textarea [autoGrow]="true" [(ngModel)]="o.respuesta"></ion-textarea>
				</ion-item>
			</ion-content>
			<ion-footer>
				<ion-toolbar>
					<ion-buttons  slot="start">
						<ion-button fill="solid" (click)="isModalOpen=false">Cancelar</ion-button>
					</ion-buttons>
					<ion-buttons  slot="end">
						<ion-button fill="solid" (click)="send()" [strong]="true">
						Confirmar
						<ion-icon slot="end" name="send"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar> 
			</ion-footer>
		</ng-template>
	</ion-modal>
</ion-content>
